* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root, .container, html {
  border: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.container {
  position: relative;
  width: 100%;
}

.container-navbar {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 0 !important;
  width: 100%;
}

.container-main {
  height: 100%;
  margin-top: 60px !important;
  width: 100%;
}

.container-profile {
  position: fixed;
  left: 0;
  height: 100%;
}

.container-main-feed {
  margin: auto;

}

.container-dashboard {
  position: fixed;
  right: 0;
  height: 100%;
}

.container-create-activity {
  height: 80px;
}

.container-switch-feed {
  height: 60px;
}

.container-card-activity {
  height: 100%;
}

.card-activity {
  height: 600px;
}
