* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root, .container, html {
  border: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.container {
  position: relative;
  width: 100%;
}

.container-navbar {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 0 !important;
  width: 100%;
}

.container-main {
  height: 100%;
  margin-top: 60px !important;
  width: 100%;
}

.container-profile {
  position: fixed;
  left: 0;
  height: 100%;
}

.container-main-feed {
  margin: auto;

}

.container-dashboard {
  position: fixed;
  right: 0;
  height: 100%;
}

.container-create-activity {
  height: 80px;
}

.container-switch-feed {
  height: 60px;
}

.container-card-activity {
  height: 100%;
}

.card-activity {
  height: 600px;
}

.dropzone {
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.classDropReject {
  border: 2px dashed red;
  background-color: rgba(255, 0, 0, 0.048);
}

.classDropActive {
  border: 2px dashed green;
  background-color: rgba(0, 128, 0, 0.082);
}

.classDropDefult {
  border: 2px dashed gray;
}

.classDropNone {
  border: 0;
  background-color: white;
}

.image-preview {
  max-height: 200px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-preview img {
  height: 100%;
  width: 100%;
  z-index: 100;
}

.image-preview span {
  position: fixed;
  display: none;
  font-size: 2rem;
  z-index: 1000;
}

.image-preview:hover span {
  display: block;
}

.container-image-input p {
  position: absolute;
  z-index: 10;
}
