.container-create-activity {
  height: 80px;
}

.container-card-activity {
  height: 100%;
}

.dropzone {
  height: 360px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.classDropReject {
  border: 2px dashed rgb(250, 189, 189);
  background-color: rgba(255, 0, 0, 0.048);
}

.classDropActive {
  border: 2px dashed green;
  background-color: rgba(0, 128, 0, 0.082);
}

.classDropDefult {
  border: 2px dashed gray;
}

.classDropNone {
  border: 0;
  background-color: white;
}

.image-preview {
  /* max-height: 600px; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container-form-create-card{
  height: 70%;
}
.container-image-input {
  height: 100%;
  /* aspect-ratio: 1/1; */
}

.container-image-input img {
  height: 100%;
  width: 100%;
  z-index: 100;
}

.image-preview span {
  position: fixed;
  display: none;
  font-size: 2rem;
  z-index: 1000;
}

.image-preview:hover span {
  display: block;
}

.container-image-input p {
  position: absolute;
  z-index: 10;
}

.cropper {
  max-height: 480px;
  max-width: 480px;
}

.container-image-position-btn {
 position: relative;
}

.container-image-position-btn:hover .position-btn-image-1 {
  display: block;
  background: black;
  color: white;
  font-size: 1.5rem;
  padding: 3px 8px;
  border-radius: 10px;
}

.container-image-position-btn:hover .position-btn-image-2 {
  display: block;
  background: black;
  color: white;
  font-size: 1.2rem;
  padding: 3px 5px;
  border-radius: 10px;
}

.position-btn-image-1 {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: none;
  border: none;

}

.position-btn-image-2 {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
}

.modal-footer {
  /* display: flex; */
  gap: 20px;
}

.btn-card-create {
  background-color: var(--main) ;
  border-radius: 10px;
  box-shadow: 0 2px 0px 0px rgb(168, 168, 168);
  border: 2px solid var(--main);
  color: white;
  padding: 10px 0px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  /* font-display: auto; */
}

.btn-card-create:disabled {
  background-color: var(--main-hover);
  border-radius: 10px;
  box-shadow: 0 2px 0px 0px rgb(168, 168, 168);
  border: none;
  color: white;
  padding: 10px 0px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn-card-close {
  background-color: #fff ;
  border-radius: 10px;
  box-shadow: 0 2px 0px 0px rgb(168, 168, 168);
  border: 2px solid var(--main);
  color: white;
  padding: 7px 0px;
  font-size: 1.1rem;
  color: black;
  letter-spacing: 1px;
}

.btn-card-close:hover, .btn-card-create:hover {
  box-shadow: 2px 2px 1px black;
}

.container-create-card-text {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.container-create-card-text label {
  width: 90%;
}

.container-create-card-text label p.label {
  font-size: 1.2rem;
}

.container-create-card-text label:nth-child(2) p.label {
  font-size: 1rem;
}

.input-img-message-err {
  font-size: 0.7rem;
  color: red;
}

.input-img-message-succ {
  font-size: 0.7rem;
  color: rgba(0, 128, 0, 0.767);
}
.sss .modal-dialog .modal-content {
  background-color: rgb(248, 248,  248);
}

.modal-title {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--main);
}

.modal-title span {
  color: white;
  background-color: var(--main);
  padding: 2px 5px;
}

.container-select-activity {
   display: flex;
   justify-content: center;
   gap: 10%;
   align-items: center;
   /* margin: 0px; */
   margin-top: 10px;
}
.container-select-activity label {
  width: 40%;
}
.container-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* gap: 15px; */
  text-align: end;
  width: 100%;
}

.container-range input {
  /* display: block; */
  width: 180px;
}

.container-range p {
  /* display: inline; */
  width: 50%;
}

.container-range-out {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-top: 2%;
}
.parent-rage-out {
  width: 90%;
}
/* .container-range-out p:nth-child(1) {
  margin-left: 5px !important;
} */


.container-form-create-card input, textarea, select  {
  border-radius: 8px;
  margin-top: 0.4rem;
  padding-left: 0.5rem;
  width: 100%;
  border: 1px solid gray;
}


.container-form-create-card input[type='radio'] {
  width: auto;
  margin-right: 0.2rem;
}

.container-form-create-card label[for='none'] label {
  margin-right: 0.4rem;
}

.edit-input-radio {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.radio-title {
  margin-bottom: 0.3rem !important;
}

.edit-input-radio select {
  border-radius: 8px;
  padding-left: 0.2rem;
  width: 75%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  border: 1px solid rgba(128, 128, 128, 0.404);
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: var(--main);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  /* border: none; */
}

::-webkit-slider-track {
  background: var(--main);
  /* border: none; */
}

.btn-resume {
  background-color: var(--main);
  border-radius: 5px;
  border: 1px solid var(--main);
  padding: 2px 10px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1rem;
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.644);
}

.btn-leave {
  background: none;
  border-radius: 5px;
  border: 2px solid var(--main);
  padding: 1px 9px;
  letter-spacing: 0.1rem;
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.644);
}

.btn-resume:hover, .btn-leave:hover {
  box-shadow: 2px 2px 1px black;
}


.container-create-menu {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  position: relative;
  /* width: 100%; */
  height: 100%;
}

.container-create-activity {
  height: inherit;
  margin-top: 0.8rem;
}

.container-btn-create-activity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: white;
  /* padding: 0 0.8rem; */
  border-radius: 50%;
  border: 2px solid var(--main);
  position: fixed;
    top: 62px;
    left: 50%;
  transform: translate(-50%);
  z-index: 4;
}

.active-class {
  display: none;
}

.container-btn-create-activity:hover {
  cursor: pointer;
  background-color: rgb(46, 46, 46);
  border: 2px solid var(--main);
}


.container-btn-create-activity button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  margin: 0;
  padding: 0;

  color: white;
}

.container-switch-feed {
  height: 60px;
  z-index: 3;
  position: fixed;
    top: 65px;
  max-width: 600px;
  width: 100%;
}

.container-btn-create-activity i.bi-plus-circle-fill {
  font-size: 1.6rem;
  line-height: 50px;
  height: fit-content;
  width: 100%;
  color: rgb(46, 46, 46);
  text-align: center;
  cursor: pointer;
  /* z-index: -1; */
}
.container-btn-create-activity i.bi-plus-circle-fill::before {
  width: 100%;
  line-height: 50px;
  height: fit-content;
  cursor: pointer;
  /* z-index: 80; */
}

.container-btn-create-activity:hover i {
  cursor: pointer;
  color: white;
}
input[name="dateactivity"],
select[name="activity"] {
  color: black;
  background-color: transparent;
}
.modal-footer button {
  color: black;
}
@media (max-width: 421px) {
  .active-class {
    display: flex;
  }
  .container-create-menu {
    max-width: 420px;
    width: 80%;
  }
  .container-btn-create-activity,
  .container-switch-feed {
    top: calc(81vh - 15px);
  }
  .container-switch-feed {
    /* margin: 0, 20px !important; */
    width: 52%;
    left: 24%;
    /* right: 10px; */
  }
  .container-btn-create-activity {
    width: 40px;
    height: 40px;
  }
  .container-btn-create-activity button  {
    width: 40px;
    height: 40px;
  }
  .container-btn-create-activity i.bi-plus-circle-fill {
    font-size: 1.4rem;
    width: 40px ;
    height: 40px;
    line-height: 40px;
  }
  .container-btn-create-activity i.bi-plus-circle-fill::before {
    font-size: 1.4rem;
    width: 40px;
    line-height: 40px;
    height: fit-content;
  }
  .modal-title {
    font-size: 1.4rem;
  }
  .container-create-card-text {
    margin-top: 2%;
  }
  .container-create-card-text label p.label,
  .container-create-card-text label:nth-child(2) p.label,
  .container-select-activity label p:first-child,
  .parent-rage-out p {
    font-size: 0.8rem;
  }
  .container-form-create-card input,
  .container-form-create-card select {
    padding-left: 0px;
    /* border: none; */
    /* border-bottom: 1px solid gray; */
    /* border-radius: 0; */
  }
  .container-create-card-text input,
  .container-select-activity select,
  .container-select-activity input {
      border: none;
      border-bottom: 1px solid gray;
      border-radius: 0;
      background-color: transparent;
  }
  .btn-card-close {
    /* padding: 2px, 2px; */
    font-size: 0.9rem;
    width: 20%;
    line-height: 100%;
  }
  .btn-card-create {
    font-size: 0.9rem;
    width: 40%;
    line-height: 100%;
  }
  .btn-card-create:disabled {
    font-size: 0.9rem;
  }
  .sss .modal-header {
    /* padding: 0; */
    padding: 6px 16px;
  }
  .sss .modal-footer  {
    padding: 4px 12px;
  }
}
