.title-outter-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.title-text {
  font-size: 1.5rem;
  text-align: center;
}

.activity-detail-box {
    padding: 20px 10px 0px 10px;
}

.activity-detail {
  border-width: 2px;
  margin-top: 10px;
  border-radius: 15px;
  border-radius: 15px;
  background: linear-gradient(180deg, #cacaca, #ffffff);
}

.detail-outter-box {
    padding: 10px;
}

#act-name {
    padding-left: 5px;
    background-color: #FF7B54;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
}

.act-time {
    padding-left: 15px;
}
