.title-outter-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-bottom: 20px;
  margin-top: 20px; */
}

.title-text {
  font-size: 1.4rem;
  text-align: center;
}

.activity-detail-box {
  width: 90%;
  transform: translate(7%);
  padding: 20px 0px 0px 0px;
}

.activity-detail {
  /* height: 100%; */
  border-width: 2px;
  margin-top: 10px;
  border-radius: 15px;
  /* border-radius: 15px; */
  background: linear-gradient(180deg, rgb(209, 209, 209), rgb(245, 245, 245));
}

.detail-outter-box {
    padding: 10px !important;
}

#act-name {
    padding-left: 5px;
    background-color: var(--main);
    border-radius: 15px 15px 0px 0px;
    text-align: center;
}

.act-time {
    padding-left: 15px;
}

.detail-outter-box .detail-head-type {
  /* font-size: 2rem; */
  color: white;
}

@media (max-width: 421px) {
  .container-dashboard {
    position: static !important;
    height: 150vh !important;
    /* width: 98%; */
    /* transform: translate(-1%); */
    background-color: transparent;
    background: transparent !important;
    padding: 0 !important;
    border: none !important;
    border-radius: none !important;
    box-shadow: none !important;
    height: 80vh !important;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .title-outter-box .title-text {
    font-size: 1.2rem;
    font-weight: 600;

  }
  .pieChart {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pieChart canvas {
    transform: translate(10%);
  }
  .activity-detail-box {
    padding: 0;
  }
  .activity-detail {
    height: 200px;
  }
  .detail-outter-box {
    padding: 10px 0 0 4px !important;
  }
  #act-name {
    height: 20%;
    font-size: 1.1rem;
  }
}
