:root {
  --main: #FAC031;
}

.dropzone {
  height: 360px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.classDropReject {
  border: 2px dashed rgb(250, 189, 189);
  background-color: rgba(255, 0, 0, 0.048);
}

.classDropActive {
  border: 2px dashed green;
  background-color: rgba(0, 128, 0, 0.082);
}

.classDropDefult {
  border: 2px dashed gray;
}

.classDropNone {
  border: 0;
  background-color: white;
}

.container-image-input p {
  position: absolute;
  z-index: 10;
}

.cropper {
  max-height: 480px;
  max-width: 480px;
}

.container-image-position-btn {
 position: relative;
}

.container-image-position-btn:hover .position-btn-image-1 {
  display: block;
  background: black;
  color: white;
  font-size: 1.5rem;
  padding: 3px 8px;
  border-radius: 10px;
}

.container-image-position-btn:hover .position-btn-image-2 {
  display: block;
  background: black;
  color: white;
  font-size: 1.2rem;
  padding: 3px 5px;
  border-radius: 10px;
}

.position-btn-image-1 {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: none;
  border: none;

}

.position-btn-image-2 {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
}

.input-img-message-err {
  font-size: 0.9rem;
  color: red;
}

.input-img-message-succ {
  color: rgba(0, 128, 0, 0.767);
}

.container-image-position-btn .image-croped {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
