
#form-edit-profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: start; */
  gap: 1.5rem;
  width: 100%;
  min-height: 620px;
  /* width: 100%; */
  /* padding: 0 10px; */
  margin: 0;
  padding-bottom: 15px;
}
#form-edit-profile input, textarea, select  {
  border-radius: 8px;
  margin-top: 0.4rem;
  padding-left: 0.5rem;
  width: 100%;
  border: 1px solid gray;
}

#form-edit-profile input[type='radio'] {
  width: auto;
  margin-right: 0.2rem;
  display: none;
}
.container-radio-gender {
  width: 50%;
}
.radio-gender {
  display: flex;
  justify-content: space-between;
  margin-left: 0.8rem;
  width: 80%;
  gap: 3px;
}
.radio-gender div {
  margin: 0 0.6rem;
}
.radio-gender label {
  cursor: pointer;
  position: relative;
}

.radio-gender label::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid rgb(182, 182, 182);
  background-color: transparent;
  border-radius: 50%;
  left: -1.3rem;
  top: 50%;
  transform: translateY(-50%);
}

.radio-gender label::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: none;
  background-color: var(--main);
  border-radius: 50%;
  left: -1.3rem;
  top: 50%;
  transform: translateY(-50%) scale(0);
}

input[type="radio"]:checked + label::before {
  border-color: var(--main);
}

input[type="radio"]:checked + label::after {
  transform: translateY(-50%) scale(0.50);
}


#form-edit-profile .radio-gender label {
  margin-right: 0.4rem;
}

.edit-input-radio {
  display: flex;
  /* gap: ; */
  justify-content: space-between;

}
.radio-title {
  margin-bottom: 0.3rem !important;
}

.edit-input-radio select {
  border-radius: 8px;
  padding-left: 0.2rem;
  width: 90%;
}

.edit-input-container-number {
  display: flex;
  justify-content: space-between;
  /* gap: 40px; */
  width: 100%;
}
.edit-input-container-number select {
  width: 160px;
}
.edit-input-container-number label:nth-child(1) input[type='number'] {
  width: 50% !important;
}

.edit-input-container-number label:nth-child(2) input[type='number'] {
  width: 60% !important;
}

.edit-input-number {
  display: flex;
  justify-content: start;
  /* align-items: center; */
  width: 50%;
}
.edit-input-number label {
  width: 100px;
}
.number-tail {
  margin-left: 0.4rem;
}

.modal-edit-profile .modal-dialog {
  max-width: 980px;
}
.modal-edit-profile-bod {
  height: 1000px !important;
}

.container-edit-profile-left, .container-edit-profile-right {
  width: 45%;
}

.container-edit-profile-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .container-edit-profile-left span {
  display: ;
} */

.container-edit-profile-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
}

.container-edit-profile-right .right-in {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  height: 100%;
}
.edit-profile-vl {
  border-left: 2px solid var(--main);
}

.container-btn-form-edit-profile {
  align-self: end;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: row-reverse;
  width: 97%;
  gap: 3%;
}

.container-btn-form-edit-profile button {
  background-color: #fff ;
  border-radius: 10px;
  box-shadow: 0 2px 0px 0px rgb(168, 168, 168);
  border: 2px solid var(--main);
  color: white;
  padding: 6px 0px;
  font-size: 1.2rem;
  color: black;
  letter-spacing: 1px;
  width: 80px;
}

.container-btn-form-edit-profile .btn-save-change {
  background-color: var(--main) ;
  border-radius: 10px;
  box-shadow: 0 2px 0px 0px rgb(168, 168, 168);
  border: 2px solid var(--main);
  color: white;
  padding: 6px 0px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  width: 140px;
  /* font-display: auto; */
}

.container-btn-form-edit-profile button:hover {
  box-shadow: 1px 2px 1px black;
}


@media (width <= 700px) {
  .modal-edit-profile .modal-dialog {
    max-width: 550px;
  }
  .container-edit-profile-left, .container-edit-profile-right {
    width: 100%;
    justify-content: center;
  }
  body {
    overflow-y: hidden !important;
  }
  .edit-profile-vl {
    display: none;
  }
}

@media only screen and (max-width: 421px) {
  .modal-edit-profile-body {
    padding-bottom: 0 ;
  }
  #form-edit-profile {
    gap: 0.5rem;
    padding-bottom: 10px;
    /* flex-direction: row; */
  }
  .container-edit-profile-left, .container-edit-profile-right {
    width: 100%;
    justify-content: center;
  }
  #form-edit-profile input {
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
    padding: 0 1px;
    width: 90%;
  }
  #form-edit-profile input[name="birthdate"] {
    width: 90%;
  }
  #form-edit-profile input[name="profilename"] {
    width: 100%;
  }
  #form-edit-profile p.label,
  .edit-input-container-number label:first-child p,
  .edit-input-radio label:first-child p,
  .right-in label:first-child p,
  .radio-title {
    font-size: 0.8rem;
  }
  .container-edit-profile-left .container-input-text-component {
    width: 100%;
  }
  .container-edit-profile-right .right-in {
    gap: 6px;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 100%; */
    justify-content: space-between;
    /* align-items: center; */
  }
  .right-in label:first-child {
    width: 100%;
  }
  .container-input-text-component {
    width: 48%;
  }
  .edit-input-radio {
    justify-content: start;
    /* align-items: end; */
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  .edit-input-radio label:first-child {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    transform: translate(0, -116%);
  }
  .edit-input-radio label:first-child select {
    width: 90%;
    height: 24px;
  }
  .edit-input-container-number label:first-child {
    width: 60%;
  }

  .right-in select {
    border: none;
    padding: 0 1px;
    border-bottom: 1px solid gray;
    border-radius: 0;
    width: 90%;
  }
  .edit-input-number {
    width: 80%;
    /* padding-bottom: 2px; */
    height: 98% !important;
  }
  .edit-input-number .container-input-text-component input {
    /* padding-bottom: 2px; */
    /* height: 98% !important; */
    margin: 2px 0 0 0 !important;
  }
  .container-btn-form-edit-profile {
    margin-top: 10px;
  }
  .container-btn-form-edit-profile button {
    font-size: 1rem !important;
    padding: 3px 0 !important;
  }
}
