
.outter-nav {
  border-bottom: 1px solid black;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60px;
  border: none;
  background: none;
  z-index: 100;
  background-color: rgb(245, 245, 245) !important;
}
.navbar-brand img {
  width: 100px;
  transform: translate(0, 10%);
}
.container-main-nav {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0, auto;
}
.nav-form-input {
  transform: translate(-7%);
  justify-content: center;
  align-items: center;
}
.search-nav {
  width: 400px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;

  background: black;
  border: none;
  border-bottom: 2px solid gray;
  /* border-radius: 27.5px; */
}
.search-nav:focus {
  outline: none !important;
}

.nav-form-input .collapse {
  position: absolute;
  width: 80%;
  transform: translate(7%, 2%);
}
.image-button {
    border: none;
}

.image-search-button {
  margin-left: 5px;
  border: 1px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: rgb(216, 216, 216);
  box-shadow: 1px 3px 3px 0 rgba(0,0,0,0.19);
}
.image-search-button i {
  font-size: 15px;
  /* line-height: 100%; */
  text-align: center;
  color: black;
}
.search-result {
  padding: 0px, 10px;
  padding-bottom: 0px;
  /* z-index: 1000; */
}
.search-result a {
  text-decoration: none;
  color: black;
}
.search-result ul {
  height: 100%;
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 10px;
  margin: 0;

}
.search-result img {
  border-radius: 50%;
  margin-right: 10px;
}
.cancel-ul {
  align-self: flex-end;
  transform: translate(40%, -20%);
  cursor: pointer;
}
/* .cancel-ul:hover {
  font-size: 2rem;
} */
.drop-list {
  margin-right: 0px;
  z-index: 0;
  right: 0;
  background-color: rgb(245, 245, 245);
  transform: translate(-80%, 5%);
}

.container-dropdown {
  position: relative;
}

.nav-profile-menu img {
  border-radius: 50%;
  /* box-shadow: 0px 1px 1px 1px var(--main); */
  /* z-index: 100; */
}

.nav-profile-menu ul {
  width: 120px;
}

.nav-profile-menu ul a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.nav-profile-menu ul a:hover {
  background-color: black;
  color: white;
}

.nav-profile-menu ul button {
  background-color: rgba(128, 128, 128, 0.521);
}

.nav-profile-menu ul button:hover {
  background-color: black;
  color: white;

}

@media (max-width: 421px) {
 .nav-form-input {
  width: 200px;
  /* transform: translate(-5%); */
 }
 .nav-form-input {
  justify-content: end;
  align-items: end;
 }
 /* .nav-form-input .search, */
 .mobile-search {
  max-width: 0px;
  width: 100%;
  height: 28px;
  border: none;
  border-radius: 0%;
  border-bottom: 1px solid black;
  background-color: transparent;
  padding-left: 5px;
  display: none;
  /* transition: cubic-bezier(0.645, 0.045, 0.355, 1); */
}
.mobile-search.show {
  max-width: 130px;
  display: block;
 }
 .search-result {
  transform: translate(-10%, 5%);
  width: 190px;
 }
}
