@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root {
  --main: #FF7B54;
  --main-hover: #ff7c54a1;
}

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body, #root, .container-fulid, html {
  border: 0px;
  /* background-color: #1c1e21; */
}

body {

  /* height: calc(200vh - 60px); */
  /* width: 100vw; */
  overflow-x: hidden !important;
  overflow-y: overlay !important;
  /* min-width: fit-content; */
  background-color: #1c1e21;
  /* scrollbar-width: thin !important; */
}

::-webkit-scrollbar {
  /* position: absolute !important; */
  width: 10px;

}

::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 10px;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover);
}


.modal-open {
  padding: 0px !important;
}
.container-fulid {
  position: relative;
  width: 100%;
  background-color: rgb(245, 245, 245);
}

.container-navbar {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 0 !important;
  width: 100%;
  background-color: black;
  z-index: 90;
}

.container-main {
  height: 100%;
  margin-top: 60px !important;
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-top: 45px;
  /* background-color: #1c1e21; */
  background: none;
}

.container-profile {
  position: fixed;
  left: 0;
  height: 100%;
  max-height: calc(100vh - 110px);
  padding: 0px !important;
  /* background-color: red; */
}

.container-main-feed {
  margin: auto;
  padding-left: 0px !important;
  padding-right: 0px !important;
  max-width: 600px !important;
  min-height: 200vh !important;
}

.container-dashboard {
  position: fixed;
  right: 4px;
  height: 54%;
  padding: 0px 0px 0px 0px;
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(180deg, var(--main) 0%, #ffab91 20%, rgb(245, 245, 245) 60%, rgb(245, 245, 245) 100%);
  /* box-shadow:  -5px 5px 5px #d7d7d7 */
}

.error-input {
  font-size: 0.9rem;
  color: red;
}

.container-input-text-component {
  display: flex;
  flex-direction: column;
}

p {
  padding: 0px !important;
  margin: 0px !important;
}

.refresh {
  background-color: rgb(240, 240, 240);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.refresh img {
  max-width: 200px;
}
.refresh-hide {
  display: none;
}

@media (max-width: 421px) {
  .container-main {
    padding-top: 0;
  }
  .mobile-aside {
    height: 100%;
  }
  .container-profile {
    position: static;
  }
  .profile-head {
    height: 100%;
  }
  .container-main {
    height: 100%;
  }
  .container-dashboard {
    height: 100%;
  }
}
